.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    padding-bottom: 36px;
}
@media (max-width: 520px) {
    .cards {
        flex-direction: column;
        gap: 10px;
    }
}