.card {
    display: flex;
    flex-grow: 1;
    max-width: 451px;
    height: 279px;
    box-shadow: 4px 8px 12px -1px rgba(34, 60, 80, 0.2);
}
.card__header {
    display: flex;
    justify-content: space-between;

}
.card__rate {
    display:flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #E9D100;
    border-radius: 50%;

    font-size: 12px;
}
.card__rate_bad {
    border-color: #E90000;
}
.card__rate_ok {
    border-color: #E97E00;
}
.card__rate_good {
    border-color: #E9D100;
}
.card__rate_super {
    border-color: #66E900;
}
.card__img {
    flex-shrink: 0;
    max-width: 168px;
    height: 100%;
    object-fit: cover;
}
.card__description {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px 20px;
    padding-bottom: 20px;
    overflow: auto;
}
.card__title {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    max-height: 60px;
    overflow: auto;
}
.card__date {
    color: #827E7E;
}
.card__text-container {
    overflow: auto;
}
.card__text {
    margin: 0;
    overflow: auto;
}
.card__stars {
    margin: auto;
    margin-bottom: 0;
}
.card__stars li {
    font-size: 15px;
}
